#game-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: none;
}
#main-menu{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color: aquamarine;
}
#options {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 300px;
}
.option-btn p{
    transform: skewX(38deg);
} 
.option-btn {
    transform: skewX(-38deg);
}

.option-btn, #footer-menu div{
    color: #31302B;
    width: 100%;
    background: #FFF;
    margin: 10px;
    font-family: 'OpenSansBold', sans-serif;
    border: 3px solid #31302B;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-image: linear-gradient(135deg, #31302B 50%, transparent 51%);
    background-size: 100px 100px; /* some initial size to get the slanted appearance */
    background-position: -50px -50px; /* negative positioning to hide it initially */
    background-repeat: no-repeat;
    transition: all ease 0.4s;
  }
  .option-btn:hover,  #footer-menu div:hover {
    background-size: 200% 200%; /* 200% because gradient is colored only for 50% */
    background-position: 0px 0px; /* bring it fully into view */
    color: #FFF;
  }

#footer-menu{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
#footer-menu div{
    width: 40px;
    height: 40px;
    border: 3px solid #31302B;
    border-radius: 25px;
    background-color: #fff;
}
#footer-menu i{
    padding: 5px 10px;
    font-size: 30px;
}
#footer-menu i:hover {
    background-size: 200% 200%; /* 200% because gradient is colored only for 50% */
    background-position: 0px 0px; /* bring it fully into view */
    color: #FFF;
}

#loader{
    position: absolute;
    display: none;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}

#loader img{
    position: absolute;
    height: 120px;
    width: 120px;
    left: calc( 50% - 60px );
    top: calc( 50% - 60px );
}