#options {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 300px;
}
.option-btn p{
    transform: skewX(38deg);
} 
.option-btn {
    transform: skewX(-38deg);
}

.option-btn, #footer-menu div{
    margin: 10px;
    width: 100%;
    border: 3px solid #31302B;
    text-transform: uppercase;
    background-image: linear-gradient(135deg, #31302B 50%, transparent 51%);
    background-size: 100px 100px; /* some initial size to get the slanted appearance */
    background-position: -50px -50px; /* negative positioning to hide it initially */
    background-repeat: no-repeat;
    transition: all ease 0.4s;
  }
  .option-btn:hover,  #footer-menu div:hover {
    background-size: 200% 200%; /* 200% because gradient is colored only for 50% */
    background-position: 0px 0px; /* bring it fully into view */
    color: #FFF;
  }
